name: Change GitHub Notifications Status

on:
  schedule:
    - cron: '3 * * * *'
  workflow_dispatch:

jobs:
  generate:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          uv-version: 'latest'

      - name: Sync dependencies
        run: uv sync

      - name: Run python script to change notifications status
        env:
          GITHUB_TOKEN: ${{ secrets.PERSONAL_GITHUB_TOKEN }}
        run: |
          uv run main.py
